################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IntroCPP_BinaryFileIO_NPCData/.vs/IntroCPP_BinaryFileIO_NPCData/v17
